/* Display version number in white */
.wy-side-nav-search > div.version {
  color: #00a9ce;
}

/* Set background and border for navigation pane */
.wy-nav-side {
  background: #fafafa;
  border-right: #ddd solid 1px;
}
.wy-side-nav-search,
.wy-nav-top {
  background-color: #fafafa;
}

/* Light background when expanding as well */
.wy-menu-vertical li.current,
.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l3.current > a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
  background: #fafafa;
}

/* no change when hovering */
.wy-menu-vertical a:hover,
.wy-menu-vertical li.current a:hover {
  background: #fafafa;
}

/* Link colors */
.wy-menu a {
  color: #00a9ce !important;
}

/* No border on search */
.wy-side-nav-search input[type="text"] {
  border-width: 0;
}

/* differentiate more between headings */

h5 {
  font-size: 105%;
}

h6 {
  font-size: 90%;
}

/* add a section divider */

.rst-content h2 {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  overflow-x: auto;
  line-height: 40px;
}
.grid-item h2 {
  border: 0px;
  padding-top: 0px;
  line-height: unset;
}

/* change the bullet item for links to subpages */

.toctree-wrapper ul li {
  list-style: none !important;
}

.toctree-wrapper ul li::before {
  content: "\27A4";
  padding-right: 10px;
  color: #444;
}

/* add styling for a local ToC */

.contents.local {
  float: right;
  border: 1px solid #ddd;
  background-color: #fafafa;
  padding: 10px 10px 0px 0px;
  margin: 0px 0px 25px 25px;
  max-width: 30%;
}

@media (min-width: 1350px) {
  .contents.local {
    position: fixed;
    top: 25px;
    left: 1100px;
  }
}

.contents.local a {
  font-size: 13px;
  line-height: 13px;
}

.contents.local ul {
  margin-bottom: 12px;
}

.contents.local ul p {
  margin-bottom: 0px;
}

.rst-content .admonition {
  overflow-x: auto;
  clear: left;
}

/* fix styling for line blocks in tables */
.rst-content td .line-block {
  margin-bottom: 0px;
}

svg {
  width: 100%;
  height: auto;
  max-height: 95vh;
}
