name: Test and Release

on:
  push:
    branches:
      - saga
      - "v*"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: "Build the documentation"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        audience: [release, saga]

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade --user pip setuptools
          python3 -m pip install --upgrade --user sphinx recommonmark sphinx_rtd_theme rstcheck

      - name: Build docs
        run: |
          export PATH=$PATH:/home/runner/.local/bin
          errlog=$(mktemp)
          export AUDIENCE=${{ matrix.audience }}
          # Remove Azure from release builds
          if [[ "${{ matrix.audience }}" == "release" ]]; then
            cat index.rst | grep -v docs/azure > index-no-azure.rst
            mv index-no-azure.rst index.rst
          fi
          make html 2> $errlog
          if [[ -s "$errlog" ]]; then
            cat $errlog
            exit 1
          else
              echo "OK"
          fi

      - uses: actions/upload-artifact@v2
        with:
          name: asset-tracker-docs-${{ matrix.audience }}-${{ github.sha }}
          path: build/html/

  test:
    name: "Run the tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "15.x"

      - name: Keep npm cache around to speed up installs
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}

      - run: npm ci --no-audit

      - run: npx tsc

      - run: npm test

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build, test]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - name: Semantic release
        id: semantic-release
        continue-on-error: true
        run: npx semantic-release

  publish:
    name: Publish the documentation

    runs-on: ubuntu-latest

    needs: [build, test, release]

    steps:
      - uses: actions/checkout@v2

      - name: Determine documentation release (saga)
        if: github.ref == 'refs/heads/saga' && github.event_name == 'push'
        run: |
          git pull --ff-only
          RELEASE=`git describe --abbrev=0 --tags --always | tr -d '\n'`
          echo "VERSION=saga" >> $GITHUB_ENV
          echo "RELEASE=$RELEASE" >> $GITHUB_ENV
          echo "AUDIENCE=saga" >> $GITHUB_ENV

      - name: Determine documentation release (maintenance branches)
        if: github.ref != 'refs/heads/saga' && github.event_name == 'push'
        run: |
          git pull --ff-only
          VERSION=`git rev-parse --abbrev-ref HEAD | tr -d 'refs/heads/' | tr -d '\n'`
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "RELEASE=${{ github.sha }}" >> $GITHUB_ENV
          echo "AUDIENCE=release" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade --user pip setuptools
          python3 -m pip install --upgrade --user sphinx recommonmark sphinx_rtd_theme rstcheck

      - name: Build documentation
        if:
          env.RELEASE != '' && env.VERSION != '' && github.event_name == 'push'
        run: |
          echo "Updating documentation for version ${{ env.VERSION }} release ${{ env.RELEASE }}...";
          export PATH=$PATH:/home/runner/.local/bin
          # Remove Azure from release builds
          if [[ "${AUDIENCE}" == "release" ]]; then
            cat index.rst | grep -v docs/azure > index-no-azure.rst
            mv index-no-azure.rst index.rst
          fi
          # Generate Documentation
          make html
          # Clone gh-pages branch
          git clone --single-branch --branch gh-pages https://github.com/${GITHUB_REPOSITORY} asset-tracker-docs
          git -C asset-tracker-docs rm -r ${{ env.VERSION }}/\*
          mkdir -p asset-tracker-docs/${{ env.VERSION }}
          cp -r build/html/* asset-tracker-docs/${{ env.VERSION }}
          # Maintain legacy URLs
          if [[ "${{ env.VERSION }}" == "v1.5.x" ]]; then
            REDIRECT=./GettingStarted/Index.html node scripts/redirect.mjs > asset-tracker-docs/${{ env.VERSION }}/docs/aws/GettingStarted.html
          fi;
          git -C asset-tracker-docs add -A ${{ env.VERSION }}
          if [[ `git -C asset-tracker-docs status --porcelain` ]]; then
            echo "HAS_CHANGES=1" >> $GITHUB_ENV
            git -C asset-tracker-docs status
          else
            echo "HAS_CHANGES=0" >> $GITHUB_ENV
            echo "No changes."
          fi

      - name: Publish documentation
        if: env.HAS_CHANGES == '1'
        run: |
          cd asset-tracker-docs
          echo "machine github.com login accesskey password ${GITHUB_TOKEN}" > ~/.netrc
          git config --global user.email "actions@example.com"
          git config --global user.name "GitHub Actions"
          touch .nojekyll
          git add .nojekyll
          git commit -m "docs(${{ env.VERSION }}): update documentation for release ${{ env.RELEASE }}"
          git pull --ff-only
          git push
